/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f9fafb;
    color: #1f2937;
}

/* CONTAINER */
.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
header {
    background: #0f172a;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

/* LOGO */
.logo {
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
}

/* NAV */
.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    color: #cbd5f5;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: white;
}

/* BOUTON CONTACT */
.btn-nav {
    background: #2563eb;
    padding: 8px 16px;
    border-radius: 8px;
    color: white !important;
}

.btn-nav:hover {
    background: #1d4ed8;
}

/* ESPACE HEADER */
body {
    padding-top: 80px;
}

.projects {
    padding: 80px 0;
}

.projects h2 {
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 60px rgba(0,0,0,0.1);
}

.card h3 {
    transition: 0.3s;
}

.card:hover h3 {
    color: #2563eb;
}

/* effet nav */
.nav a::after {
    content: "";
    display: block;
    height: 2px;
    background: #2563eb;
    width: 0;
    transition: 0.3s;
}

.nav a:hover::after {
    width: 100%;
}